{% extends 'base.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block body %}
<h1> Основная страница сайта</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aspernatur beatae distinctio dolorum fuga obcaecati placeat sed similique velit voluptatum. Ad at autem commodi debitis, officiis perspiciatis reiciendis reprehenderit voluptate! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores beatae consequatur cum distinctio dolorem doloremque exercitationem impedit iste itaque mollitia neque, obcaecati perspiciatis praesentium quas quibusdam quos reiciendis suscipit temporibus? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi exercitationem impedit quam sunt temporibus! Accusamus asperiores beatae culpa ducimus eius, excepturi labore nisi nulla quod saepe sapiente, sequi, tempore unde.</p>
{% endblock %}